{% extends 'base.html' %}
{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block conteudo %}
	<h1 class="form-titulo">Esqueci a senha</h1>
	<form method="POST">
		<div class="form-item">
			<label for="esqueci-email">Digite o e-mail que irá receber o link para recuperação do e-mail</label>
			<input type="text" name="email" id="esqueci-email" required />
		</div>
		<div class="acoes">
			<button class="btn btn-principal" type="submit">Enviar Link</button>
		</div>
	</form>
{% endblock %}