{% extends 'base.html' %}
{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/notas.css' %}" />
{% endblock %}

{% block scripts %}
	<script src="{% static 'scripts/notas.js' %}" defer></script>
{% endblock %}

{% block conteudo %}
	<h1 class="form-titulo">Boletim Geral de Notas</h1>
	<section class="curso-info">
		<p>
			<span class="label">Disciplina</span> Tecnologias Web
		</p>
		<p>
			<span class="label">Tipo</span> Regular
		</p>
		<p>
			<span class="label">Período Letivo</span> 2019/1
		</p>
		<p>
			<span class="label">Professor</span> Yuri Dirickson
		</p>
	</section>
	<form method="POST">
		<div class="acoes">
			<button class="btn btn-atencao" type="reset">Limpar</button>
			<button class="btn btn-sucesso adicionar-ac" type="button">Adicionar AC</button>
			<button class="btn btn-principal" type="submit">Salvar</button>
		</div>
		<table class="tabela-notas">
			<thead>
				<tr>
					<th scope="col" class="vazio"></th>
					<th scope="col" class="vazio"></th>
					<th scope="col" class="vazio"></th>
					<th scope="col" class="acs" colspan="2">ACs</th>
					<th scope="col">ACs 60%</th>
					<th scope="col" colspan="3">Prova 40%</th>
					<th scope="col">Final</th>
				</tr>
				<tr>
					<th scope="col" class="ra">RA</th>
					<th scope="col">Nome</th>
					<th scope="col" class="acoes">A&ccedil;&otilde;es</th>
					<th scope="col" class="nota ac">AC1</th>
					<th scope="col" class="nota ac">AC2</th>
					<th scope="col" class="nota mac">MAC</th>
					<th scope="col" class="nota">PROVA</th>
					<th scope="col" class="nota">PSUB</th>
					<th scope="col" class="nota">MP</th>
					<th scope="col" class="nota">MF</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="ra">1910001</td>
					<td class="nome">Aluno Número 1</td>
					<td class="acoes">
						<button type="button" class="btn btn-atencao remover-aluno">
							Remover
						</button>
					</td>
					<td class="nota ac">
						<input name="ac1" type="number" value="0.0" step="0.01" class="input-nota" min="0" max="10" required/>
					</td>
					<td class="nota ac">
						<input name="ac2" type="number" value="0.0" step="0.01" class="input-nota" min="0" max="10" required/>
					</td>
					<td class="mac">0.0</td>
					<td class="prova">
						<input name="prova" type="number" value="0.0" step="0.01" class="input-nota" min="0" max="10" required/>
					</td>
					<td class="prova">
						<input name="sub" type="number" value="0.0" step="0.01" class="input-nota" min="0" max="10" required/>
					</td>
					<td class="mp">0.0</td>
					<td class="final">0.0</td>
				</tr>
			</tbody>
			<tfoot>
				<td>
					<input name="ra" type="number" min="1" />
				</td>
				<td>
					<input name="nome" type="text" /> 
				</td>
				<td>
					<button type="button" class="btn btn-sucesso adicionar-aluno">
						Adicionar
					</button>
				</td>
			</tfoot>
		</table>
	</form>
{% endblock %}